
ul {
    list-style-type: none;
    padding-left:0;
    margin:0;
}
a{
    text-decoration: none;
    &:visited{
        color: black;
    }
}
.fio__header, .fio__value,.age__header,.age__value,.med__header,.med__value{
    display: inline-block;
}
.fio__header, .age__header,.med__header{
    margin-bottom: 10px;
}
.fio__value, .age__value, .med__value{
    width:300px;
    border-bottom: solid 1px lightgray;

}

.container{
    margin: 20px;
    .left-table{
        height:100vh;
        width: 49%;
        float: left;

        border: solid 1px lightgray;
        box-shadow: 3px 3px 3px lightgrey;
        .header{
            color: white;
            padding: 10px;
            background-color: deepskyblue;
            margin-bottom:10px;
        }
    }
    .right-table{

        width: 49%;
        float: right;
    }

}

.tabs{

    border: solid 1px lightgray;
    box-shadow: 3px 3px 3px lightgrey;
    min-height:100vh;

    &__item{

        display: none;

        color: black;
        &.active{
            display:block;

        }
    }
    &__control{
        margin-bottom: 0;
        background-color: whitesmoke;
        border-bottom: solid 1px lightgray;
        .tabs__control--item{
            display: inline-block;
            padding: 10px;
        }
        .active-link{
            border-bottom: solid 3px blue;
            .tabs__control--link{
                color: lightskyblue;
            }
        }
    }
    &__list{
        margin-top:0;
    }
}

.table{
    width:100%;
    border-collapse: collapse;

    td{
        width:33%;
        padding: 5px;
        border-bottom: solid 1px lightgray;
        margin: 0;

    }
    .active-tr{
        border-left:solid 2px blue;
    }
}

.clearfix:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}
.clearfix { display: inline-block; }
/* start commented backslash hack \*/
* html .clearfix { height: 1%; }
.clearfix { display: block; }
/* close commented backslash hack */